@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Anton", sans-serif;
  box-sizing: border-box;
}

main {
  background-color: #C6C6C6;
  max-width: 1440px;
  width: 100%;
}

.form-section {
  width: 62%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}
.form-section__form {
  display: flex;
  align-items: center;
  background-color: #E7E7E7;
  border-radius: 5px;
}
.form-section__input {
  width: 100%;
  padding: 24px 0 24px 35px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
  border: none;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #E7E7E7;
}
.form-section__input:focus {
  outline: none;
}
.form-section__input-icon {
  cursor: pointer;
  background-color: #000000;
  font-family: "Font Awesome", sans-serif;
  color: #FFFFFF;
  padding: 12px;
  font-size: 32px;
  border-radius: 5px;
  margin-right: 8px;
}

#dropdown {
  display: flex;
  justify-content: flex-start;
  gap: 66px;
  margin: 25px 0 55px 0;
  padding: 0 102px;
}
#dropdown .dropdown__ingredient-search__icon {
  font-size: 20px;
  margin-right: 10px;
}
#dropdown .dropdown__ingredient-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dropdown .dropdown__block {
  width: 20%;
  background-color: #FFFFFF;
  border-radius: 11px;
  position: relative;
  padding: 15px;
}
#dropdown .dropdown__block--ingredient {
  background-color: lightgreen;
}
#dropdown .dropdown__block--device {
  background-color: lightblue;
}
#dropdown .dropdown__block--utensil {
  background-color: lightyellow;
}
#dropdown .dropdown__block.active {
  border-radius: 11px 11px 0 0;
}
#dropdown .dropdown__block .dropdown__input-wrapper {
  position: relative;
}
#dropdown .dropdown__block .dropdown__input {
  position: relative;
  color: #FFD15B;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: unset;
  cursor: pointer;
}
#dropdown .dropdown__block .dropdown__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 1;
}
#dropdown .dropdown__block .dropdown__ingredient-input {
  display: none;
  outline: none;
  border: none;
  padding: 10px 5px 10px 5px;
}
#dropdown .dropdown__block .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  color: #000000;
  font-size: 16px;
}
#dropdown .dropdown__block .fa-chevron-down {
  font-size: 16px;
}
#dropdown .dropdown__block .up {
  transform: translateY(-50%) rotate(180deg);
}
#dropdown .dropdown__block .dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  display: none;
  border-radius: 0 0 11px 11px;
}
#dropdown .dropdown__block .dropdown__list.show {
  display: block;
}
#dropdown .dropdown__block .dropdown__list li {
  padding: 5px;
}
#dropdown .dropdown__input--Ingredients {
  outline: none;
  border-radius: 11px;
  background-color: #FFFFFF;
}
#dropdown .dropdown__input--Appareils {
  border-radius: 11px;
  background-color: #FFFFFF;
}
#dropdown .dropdown__input--Ustensiles {
  border-radius: 11px;
  background-color: #FFFFFF;
}

#recipes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0 102px;
}
#recipes .recipe-article {
  background-color: #FFFFFF;
  border-radius: 26px;
  width: 30%;
  height: 730px;
  gap: 50px;
}
#recipes .recipe-card {
  padding: 25px;
  margin: 15px;
}
#recipes .recipe-card__content {
  width: 100%;
  padding: 25px;
}
#recipes .recipe-card__image {
  width: 100%;
  height: 253px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  margin-bottom: 32px;
}
#recipes .recipe-card__title {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
#recipes .recipe-card__description {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  height: 109px;
  overflow: auto;
  white-space: pre-wrap;
  text-overflow: clip;
}
#recipes .recipe-card__duration {
  position: relative;
  bottom: 280px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 14px;
  padding: 5px 15px;
  background-color: #FFD15B;
}
#recipes .recipe-card__title-duration {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
}
#recipes .recipe-card__ingredients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  font-family: "Manrope", sans-serif;
  color: #7A7A7A;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  height: 109px;
  width: 50%;
}
#recipes .recipe-card__ingredients .recipe-card__ingredient-name {
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

header .header {
  position: relative;
  width: 100%;
  height: 667px;
}
header .header__img {
  width: 100%;
  object-fit: cover;
}
header .header__logo {
  position: absolute;
  top: 51px;
  left: 69px;
  cursor: pointer;
}
header .header__heading {
  position: absolute;
  bottom: 290px;
  padding: 0 337px;
  width: 100%;
  height: 132px;
}
header .header__title {
  text-align: center;
  font-weight: 400;
  font-size: 44px;
  line-height: 66px;
  color: #FFD15B;
}

/*# sourceMappingURL=style.css.map */
