#dropdown {
  display: flex;
  justify-content: flex-start;
  gap: 66px;
  margin: 25px 0 55px 0;
  padding: 0 102px;

  .dropdown__title {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
  }

  .dropdown__block {
    width: 20%;
    height: fit-content;
    background-color: $color-white;
    border-radius: 11px;
    position: relative;
    padding: 15px;

    .dropdown__input-wrapper {
      position: relative;
    }

    .dropdown__input {
      position: relative;
      color: $color-primary;
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      width: 100%;
      padding: 5px;
      border: none;
      background-color: unset;
      cursor: pointer;

      &::placeholder {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
        opacity: 1;
      }

      &--Ingredients,
      &--Appareils,
      &--Ustensiles {
        @extend .dropdown__input;
        outline: none;
        border: none;
        padding: 10px 5px;
      }
    }

    .fa-solid {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
      color: $color-black;
      font-size: 16px;

      &--up {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .dropdown__list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $color-white;
      display: none;
      border-radius: 0 0 11px 11px;
    }

    .dropdown__ingredients-div,
    .dropdown__appareils-div,
    .dropdown__ustensiles-div {
      display: none;
    }

    .dropdown__ingredients-search,
    .dropdown__appareils-search,
    .dropdown__ustensiles-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dropdown__ingredients-input,
    .dropdown__appareils-input,
    .dropdown__ustensiles-input {
      outline: none;
      border: none;
      padding: 10px 5px 10px 5px;
    }

    .dropdown__ingredients-list,
    .dropdown__appareils-list,
    .dropdown__ustensiles-list {
      display: none;
      height: 315px;
      overflow: auto;
      p {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-top: 13px;
      }
    }

    .fas.fa-search {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .show {
    display: block;
  }
}
